body {
    font-family:'Courier New', Courier, monospace;
    border: 5px double #3d3b3b;
    margin: 4px;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 30px auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 15px 0;
}

a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #3d3b3b;
    font-weight: bold;
}

a:hover, a:active {
    color: #d66956;
}

.illustration {
    width: 100%;
    margin: 20px 0;
}

p {
    width: 90%;
    margin: 0 auto 40px;
    text-align: center;
    color: #3d3b3b;
}